*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper
{
	width:1450px;
	margin:auto;
}
header
{
	background-image:url(../bg.jpg);
	background-size:cover;
	-webkit-background-size:center;
	height:100vh;
	background-position:center center;
	position:relative;
}
.head
{
	position: absolute;
    	width:1250px;
    	height:600px;
    	margin-top: 100px;
    	margin-left:150px;
    	text-align: center;
}
.head h1
{
	text-align:center;
	color:darkblue;
	text-transform:uppercase;
	font-size:40px;
	font-weight:bold;
	text-shadow:3px 3px #fff;
}
.area
{
	float:right;
	list-style:none;
	margin-top:30px;
}
.area li
{
	display:inline-block;
}
.area li a
{
	color:darkblue;
	text-decoration:none;
	padding:5px 20px;
	font-family:poppins;
	font-size:20px;
	border:solid;
}
.area li a:hover
{
	background:rgb(2, 13, 104);
	color:rgb(255, 255, 255);
}
.logo img
{
	width:100px;
	float:left;
	height:auto;
}
.img
{
	margin-left:90px;
	margin-right:90px;
    border: 2px solid darkblue;
}
.btnn
{
	margin-left:105px;
	margin-right:95px;
	font-family:poppins;
	font-size:30px;
	color:darkblue;
}
.main 
{

    max-width: 1300px;
    margin:auto;
    position: absolute;
    top: 50%;
    margin-left:50%;
    transform: translate(-50%,-50%);
    color: rgb(6, 5, 105);
    text-shadow:3px 3px rgb(255, 255, 255);
    font-size: 30px;

}
.sm h3
{
    color:rgb(126, 156, 255);
    font-size: 30px;
    text-shadow:0px 0px black;
    left:50%;
    
}
.sm h4
{
    color:rgb(235, 235, 255);
    text-shadow:0px 0px black;
    font-size: 30px;
    left:50%;
}
.sm
{
    border:4px groove black;
    background-color: rgb(3, 4, 100);
}